.productInfo {
  float: left;
  margin-top: 20px;
}

.productInfo {
  float: left;
  margin-top: 20px;
}
#leftNavBottom .productInfoContainer {
  padding-bottom: 1.04em;
  overflow: hidden;
  box-sizing: border-box;
  padding: 20px 15px;
  width: 1060px;
}

#tabContainer {
  width: 100%;
  font-size: 13px;
}
#tabContainer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#tabContainer .activeTab {
  float: left;
  display: inline-block;
  padding: 10px 15px;
  font-size: 13px;
  border-color: #ccc;
  border-style: solid;
  border-width: 1px 1px 0;
  background-color: #fff;
  margin-right: 0.5em;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  transition: background-color 0.2s, border-bottom-color 0.2s;
  overflow: hidden;
  height: 17px;
  vertical-align: middle;
}
#tabContainer .activeTab .leftActiveTab {
  float: left;
  width: 10px;
  width: 4px;
  height: 31px;
}
#tabContainer .activeTab .midActiveTab {
  float: left;
  height: 25px;
  margin: auto;
  text-align: center;
}
#tabContainer .activeTab .rightActiveTab {
  float: left;
  width: 10px;
  width: 4px;
  height: 31px;
}
#tabContainer .nonActiveTab {
  float: left;
  box-sizing: border-box;
  font-size: 13px;
  border-color: #ccc;
  border-style: solid;
  border-width: 1px 1px 1px;
  background-color: #f4f4f4;
  height: 37px;
  text-align: center;
  vertical-align: middle;
  line-height: 15px;
  margin-right: 0.5em;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  transition: background-color 0.2s, border-bottom-color 0.2s;
  overflow: hidden;
}
#tabContainer .nonActiveTab .leftActiveTab {
  float: left;
  width: 4px;
  height: 26px;
  margin-top: 4px;
  cursor: pointer;
}
#tabContainer .nonActiveTab .midActiveTab {
  float: left;
  margin: auto;
  text-align: center;
  height: 20px;
  padding-right: 19px;
  padding-left: 19px;
  cursor: pointer;
  padding-top: 10px;
}
#tabContainer .nonActiveTab .rightActiveTab {
  float: left;
  width: 4px;
  height: 26px;
  margin-top: 4px;
  cursor: pointer;
}
#tabContainer .nonActiveTabThick {
  float: left;
  background-color: #fff;
  font-size: 13px;
  border-color: #ccc;
  border-style: solid;
  border-width: 1px 1px 0;
  height: 37px;
  text-align: center;
  vertical-align: middle;
  line-height: 15px;
  margin-right: 0.5em;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  transition: background-color 0.2s, border-bottom-color 0.2s;
  overflow: hidden;
}
#tabContainer .nonActiveTabThick .leftActiveTab {
  float: left;
  width: 4px;
  height: 26px;
  margin-top: 4px;
  cursor: pointer;
}
#tabContainer .nonActiveTabThick .midActiveTab {
  float: left;
  margin: auto;
  text-align: center;
  height: 20px;
  padding-right: 19px;
  padding-left: 19px;
  margin-top: 4px;
  cursor: pointer;
  padding-top: 6px;
}
#tabContainer .nonActiveTabThick .rightActiveTab {
  float: left;
  width: 4px;
  height: 26px;
  margin-top: 4px;
  cursor: pointer;
}
#tabContainer .tabFillSpace {
  border-bottom: 1px solid #bfbfbf;
  padding: 4px;
  margin: 0;
  height: 32px;
}

.cloneTabsContainer {
  float: left;
}

.cloneTabsContainer .tabItem {
  display: inline-block;
  box-sizing: border-box;
  font-size: 13px;
  border-color: #ccc;
  border-style: solid;
  border-width: 1px 1px 0;
  background-color: #f4f4f4;
  height: 40px;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
  margin-right: 0.1em;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  transition: background-color 0.2s, border-bottom-color 0.2s;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.cloneTabsContainer .tabItem.active,
.cloneTabsContainer .tabItem:hover {
  background-color: #fff;
  padding-bottom: 12px;
  cursor: pointer;
}
.cloneTabsContainer .tabItem.active {
  margin-bottom: -1px;
  height: 41px;
  overflow: unset;
  white-space: unset;
}
.cloneTabsContainer .tabItem.active a {
  line-height: 20px;
  padding: 10px 15px;
}
.cloneTabsContainer .tabItem a {
  font-size: inherit;
  color: #333;
  padding: 5px 15px;
  line-height: 30px;
  display: inline-block;
  text-decoration: none;
}
.cloneTabsContainer .tabItem a:hover {
  text-decoration: none;
}

.prodInfoLeft {
  column-count: 2;
  width: 75%;
  column-gap: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 10px;
}

#leftNavBottom .prodInfoSub {
  margin-bottom: 10px !important;
}
#leftNavBottom .prodInfoSub .subTxt {
  font-size: 11px;
}

#leftNavBottom .keyFeaturesmargin {
  margin-right: 0.208em;
}
#leftNavBottom .keyFeaturesmargin {
  margin-left: 6px !important;
}

.texts {
  font-size: 13px;
  line-height: 18px;
}

#custBenefit ul {
  padding: 0 0 0 15px;
  margin: 0;
}
#custBenefit li {
  margin-bottom: 8px;
}

.productsubheadline {
  font-size: 13px;
  margin-bottom: 4px;
  font-weight: bold;
}

.prodInfoRight {
  width: 24.5%;
  padding: 20px;
  font-size: 11px;
  line-height: 15px;
  background-color: #fafafa;
  box-sizing: border-box;
  display: inline-block;
  margin-bottom: 10px;
}
.prodInfoRight .productsubheadline {
  font-size: 11px;
}

.prodInfoRight .texts {
  font-size: 11px;
  line-height: 15px;
}

#dessection_right {
  margin-bottom: 10px;
  margin-top: 20px;
}
